/* A barebones style css */

/*Color schemes

Purple #5224c2

Accent color
Green yellow: #94C224


*/





html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ede9f8;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

p {
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}


a {
    color: #ae57ec;
}

/*Grid */

.row::after {
    display: table;
    content: " ";
    clear: both;
}

.col-title {
    width: 75%;
    float: left;
}

.col-menu {
    width: 24%;
    float: right;
}

/*Mobile hamburger menu */

.menu {
    cursor: pointer;
    background-color: #FFD7C9;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 0 #FD8282,
                -1px 1px 0 #FD8282,
                -2px 2px 0 #FD8282,
                -3px 3px 0 #FD8282,
                -4px 4px 0 #FD8282,
                -5px 5px 0 #FD8282;
                /*-6px 6px 0 #587415,
                -7px 7px 0 #587415,
                -8px 8px 0 #587415,
                -9px 9px 0 #587415,
                -10px 10px 0 #587415;*/
}

.bar {
    width: 90%;
    height: 2px;
    background-color: #94C224;
    margin: 5px 0;
}


.wrapper {
    width: 480px;
    padding: 0 1rem;
    margin: 0 auto;
}


section {
    padding: 1em;
}

.center {
    text-align: center;
}

section {
    background-color: #dcd3f2;
}



#header {
    background-color: #5224c2;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 10px 0px rgba(151,123,218,0.5);
    z-index: 1;
    position: relative;
}



/*Removing the default margins from the site title and tagline */
#site-title,
#site-tagline {
    margin: 0;
}

/*Welcome and Hero
Section*/

#welcome {
    /*text-align: center;*/
}

.cta-button {
    background: #94C224;
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    border-radius: 2px;
    box-shadow: 0px 0px 0 #587415,
                -1px 1px 0 #587415,
                -2px 2px 0 #587415,
                -3px 3px 0 #587415,
                -4px 4px 0 #587415,
                -5px 5px 0 #587415,
                -6px 6px 0 #587415,
                -7px 7px 0 #587415,
                -8px 8px 0 #587415,
                -9px 9px 0 #587415,
                -10px 10px 0 #587415;
                /*0px 0px 0 #587415;*/
}

#hero-avatar img {
    border-radius: 50%;
}

/*Side navigation menu */

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #333333; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 480px) {
    .wrapper {
        width: 100%;
    }
}
